table, th, td {
  border:1px solid black;}

  header{
   font-size: 40px;
   text-align: center;
   border: 10px dotted lightblue;
   border-radius: 5%;
  }

  .carrinho{
    width: 5%;
  }

  .motorola{
    width: 15%;
  }

 td {
    text-align: center;     
    vertical-align: middle;  
    width: 125px;
    font-size: 25px;
}

td .motorola {
  width: 350px;
  height: 350px;
}

td .tv{
  width: 350px;
  height: 350px;
}
td .note{
  width: 350px;
  height: 350px;
}

.subtotal{
  width: 500px;
}

.tab{
  width: 100%;
}

.dimi{
  background-color: red;
}

.add{
  background-color: green;
}